.contenido {
    display: flex;
    justify-content: space-between;
}

.card-body {
    flex-direction: row;
    width: 250px;
    border: 5px solid black;
    background-color: red;



}

.card {


    align-items: center;
    height: 25%;

}



.card-image {
    border-radius: 70%;
    height: 280px;
    width: 190px;
}

.card-text {
    text-align: justify;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.name {
    background-color: aqua;
}

.foto1 img {
    width: 280px;
}